{% import "_includes/forms" as forms %}
<p>For each selected type, stop words in the slug will be automatically removed.</p>

{% if sections | length %}
	{{ forms.checkboxSelectField({
        label: "Sections",
        options: sections,
        name: "enabledSections",
    }) }}
{% endif %}
